.box{
  margin: 10px;
  font-size: 25px;
  border: solid 2px #674dc9;

}

.sec-1{
  background-color: #674dc9;
}

.img{
  border-radius: 84px;
  margin-top: 60px;

}

.name-sec2{
  font-size: small;

}


.sec-2{
  background-color: #674dc9;

}

.sec2-p{
  margin-top: 60px;
}

.m{
  margin-left: 55px;
}